// Theme Information
//--------------------------------------------//
$theme_name: "Jooby Design Base Theme";
$theme_uri: "www.joobydesign.co.uk";
$theme_description: "Jooby Design Base Theme";
$theme_version: "1.0";
$theme_author: "Jon Newby";
$theme_author_uri: "#";
$theme_license: "GPL";
$theme_tags: "responsive-layout, post-formats";
